.container-tasks {
  display: flex;
}

.tasks-title {
  display: flex;
  flex: 2;
  color: #eee;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.tasks-container {
  width: 100%;
  height: 100%;
}

.add-button {
  width: 80px;
}
